<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>
          
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>Fluffy</span>-shopper</h1>
                <h2>Get your fluffy buddy today</h2>
                <p>Special offers on orders above Rs 1500. </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <!-- <img src="images/home/girl1.jpg" class="girl img-responsive" alt="" /> -->
                <img src="images/teddy/carsoul1.jpg" class="girl img-responsive" alt="" />
                <!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Fluffy</span>-Shopper</h1>
                <!-- <h2>Cuteness redefined</h2> -->
                <p>They are fluffy, both inside and out. Sleep with them or make them your car buddy. </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <img src="images/teddy/carsoul2.jpg" class="girl img-responsive" alt="" />
                <!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
              </div>
            </div>
            
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Fluffy</span>-Shopper</h1>
                <h2>Gift your loved one's today</h2>
                <p>Be it your girlfriend, your child or your wife. The sure are to love this fluffy gift from you. </p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6">
                <img src="images/teddy/carsoul3.jpg" class="girl img-responsive" alt="" />
                <!-- <img src="images/home/pricing.png" class="pricing" alt="" /> -->
              </div>
            </div>
            
          </div>
          
          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        
      </div>
    </div>
  </div>
</section><!--/slider-->